.kmeans.c.swo
.kmeans.c.swp
.CMakeLists.txt.swp
.kmeans.c.swn
.kmeans_pp.py.swo
.kmeans_pp.py.swp
.temp.c.swo
.temp.c.swp
test_data/.test.swp
.kmeans.c.swl
.kmeans.c.swm
.kmeansc.swp
.kme.swp
build/
dist/
mykmeanssp.egg-info/
mykmeanssp.cpython-39-x86_64-linux-gnu.so
